@model List<FptLongChauApp.Models.Drug>
@{
    ViewData["Title"] = "Drugs";
}


<div class="row"> 
    @foreach (var drug in Model)
    {
        <div class="col-md-4 mb-4"> 
            <div class="card">
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(drug.ImagePath))
                    {
                        <img src="~/img/@drug.ImagePath" class="card-img-top" alt="@drug.Name Image" style="width: 100%; height: 200px; object-fit: cover;">
                    }
                    <h5 class="card-title">@drug.Name</h5>
                    <p class="card-text">@drug.Description</p>
                    <p class="card-text">
                        <span class="text-muted">@(drug.Price.ToString("n0")) VND</span>
                    </p>
                    <a asp-route="addcart" asp-route-drugid="@drug.DrugId" class="btn btn-secondary btn-sm float-right">Order</a>
                </div>
            </div>
        </div>
    }
</div>
